@model IEnumerable<Identity_Basic_Example.Models.User>

@{
    ViewData["Title"] = "Օգտատերեր";
}

<h1>Օգտատերեր</h1>
<a asp-action="Create" class="btn btn-success">Ավելացնել օգտատեր</a>

<table class="table">
    <tr>
        <th>Էլ․ Փոստ</th>
        <th>Ծննդ․ տարեթիվ</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.Year</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Փոփոխել</a>
                    <a asp-action="ChangePassword" asp-route-id="@user.Id" class="btn btn-sm btn-secondary">Փոխել գաղտնաբառը</a>
                    <input type="submit" class="btn btn-sm btn-danger" value="Ջնջել"/>
                </form>
            </td>
        </tr>
    }
</table>
